/* css styles */

/* @import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css); */

main, p{
  font-size: 1.1rem !important;
}

.callout.callout-style-default .callout-body {
    font-size: 1.2rem;
    font-weight: 400;
}

:root {
    --bs-blue: #9172be;
    --bs-primary: #eb6864;
}

div.quarto-post .thumbnail img {
    width: 100%;
    object-fit: contain;
    max-height: 150px;
}

.navbar-dark {
    background-color: #e0ae24;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: rgba(255,255,255,.7);
    background: var(--bs-primary);
}


.page-link {
      color: var(--bs-blue);
}


.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: var(--bs-blue);
    border-color: var(--bs-blue);
}

a{
  color: var(--bs-primary);
}

b, strong {
    color: var(--bs-primary);
    font-weight: bolder;
}

div.quarto-post .listing-categories .listing-category {
    color: var(--bs-blue);
    border: solid 1px var(--bs-gray-400);
    font-size: .8em;
}


.btn-primary {
    color: #fff;
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.sidebar nav[role=doc-toc] ul>li>a.active {
    border-left: 1px solid var(--bs-blue);
    color: var(--bs-blue) !important;
}

.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid var(--bs-blue);
    color: var(--bs-blue) !important;
}

div.quarto-about-trestles .about-entity .about-link:hover {
    color: var(--bs-blue);
}

.nav-link:hover, .nav-link:focus {
    color: var(--bs-blue);
}

.alert-primary {
    color: var(--bs-gray-dark);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-blue);
    border-style: dashed;
}

.nav-link {
    color: var(--bs-purple);
}

.btn-primary:hover {
  color: #000;
  background-color: #ed6815;
  border-color: #ed6815;
  padding: .375rem .75rem;
  font-size: 1.1rem !important;
  margin-top: -9px;
}

.btn-primary {
  padding: .375rem .75rem;
  font-size: 1.1rem !important;
  margin-top: -9px;
}

.figure-caption {
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-size: 10px;
}

.listing-subtitle{
  font-size: 16px;
}

.reveal pre code {
  max-height: 1000px;
}